@using Kendo.Mvc.UI
@using TuristProject.Common.Enums
@using TuristProject.Web.Models.Shared


<style>




    @@media (max-width: 1500px) {
        .block{
            width: 100%;
        }
    }
</style>

<div class="panel-body">
    <div class="col-lg-12">
        <h1 class="text-center">
            <img src="~/Content/images/dyva2.png" style="height: 100px;" /> Категорія "@ViewBag.CategoryName"  <img src="~/Content/images/dyva2.png" style="height: 100px;" />
        </h1>
        <hr />
    </div>
    <div class="col-lg-6 block">
        <div class="row">
            <h2 class="title-up">Вагові коефіцієнти за характеристикою "Безпека"</h2>
            @(Html.Kendo().Grid<GridModel>()
                  .Name("Safety")
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.CompanyNumber).Title("Номер<br/> туристичного<br/> підприємства");
                      columns.Bound(p => p.ResidenceCoefficient).Title("Коефіцієнт<br/> проживання");
                      columns.Bound(p => p.FoodCoefficient).Title("Коефіцієнт<br/> харчування");
                      columns.Bound(p => p.TransportationCoefficient).Title("Коефіцієнт<br/> транспортних<br/> послуг");
                      columns.Bound(p => p.ExcursionCoefficient).Title("Коефіцієнт<br/> екскурсійних<br/> послуг");
                      columns.Bound(p => p.AverageRateCoefficient).Title("Середньостатистичний<br/> показник рівня якості");
                      columns.Template(e => { }).Title("<span class='row'>Дія</span>").ClientTemplate(
                          "<a  data-placement='top' title='Редагувати' style='margin-right: 5px;' class='btn btn-success btn-xs' href='/home/editcharacteristics?turistType=" + ViewBag.TuristType + "&dataType=#: data.TuristDataType #&companyNumber=#: data.CompanyNumber #'><i class='fa fa-edit color-green'></i></a>")
                          .Width(70);
                      columns.Bound(p => p.TuristDataType).Hidden();
                  })
                  .HtmlAttributes(new {style = "margin-bottom: 15px; margin-right: 15px;"})
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(3)
                      .ServerOperation(true)
                      .Read(read => read.Action("GetGridTuristData", "Home").Data("safetyParams"))
                  ))



        </div>

        <div class="col-lg-12">
            <div id="example">
                <div class="k-content wide">
                    <div id="chartSafety" style="margin: auto;"></div>
                </div>
                <script>
                    $(function() {
                        var chartsData =
                            @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartSafetyData));

                        function createChart() {
                            $("#chartSafety").kendoChart({
                                title: {
                                    text: "",
                                    color: "#333333",
                                    font: "20px sans-serif, bold"
                                },
                                legend: {
                                    position: "top"
                                },
                                seriesDefaults: {
                                    type: "radarLine"
                                },
                                series: chartsData,
                                categoryAxis: {
                                    categories: [
                                        "Середньостатистичний показник безпеки", "Безпека харчування",
                                        "Безпека транспортних послуг",
                                        "Безпека екскурсійних послуг", "Безпека проживання"
                                    ]
                                },
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    }
                                },
                                tooltip: {
                                    visible: true,
                                    format: "{0}"
                                }
                            });

                            $("#chartSafety").css("width", "700px").css("height", "500px").data("kendoChart").resize();
                        }

                        $(document).ready(createChart);
                        $(document).bind("kendo:skinChange", createChart);
                    });


                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-6 block">
        <div class="row">
            <h2 class="m-l-15 title-up">Вагові коефіцієнти за характеристикою "Комфорт"</h2>
            @(Html.Kendo().Grid<GridModel>()
                        .Name("Comfort")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.CompanyNumber).Title("Номер<br/> туристичного<br/> підприємства");
                            columns.Bound(p => p.ResidenceCoefficient).Title("Коефіцієнт<br/> проживання");
                            columns.Bound(p => p.FoodCoefficient).Title("Коефіцієнт<br/> харчування");
                            columns.Bound(p => p.TransportationCoefficient).Title("Коефіцієнт<br/> транспортних<br/> послуг");
                            columns.Bound(p => p.ExcursionCoefficient).Title("Коефіцієнт<br/> екскурсійних<br/> послуг");
                            columns.Bound(p => p.AverageRateCoefficient).Title("Середньостатистичний<br/> показник рівня якості");
                            columns.Template(e => { }).Title("<span class='row'>Дія</span>").ClientTemplate(
                                "<a  data-placement='top' title='Редагувати' style='margin-right: 5px;' class='btn btn-success btn-xs' href='/home/editcharacteristics?turistType=" + ViewBag.TuristType + "&dataType=#: data.TuristDataType #&companyNumber=#: data.CompanyNumber #'><i class='fa fa-edit color-green'></i></a>")
                                .Width(70);
                            columns.Bound(p => p.TuristDataType).Hidden();
                        })
                        .HtmlAttributes(new { style = "margin-bottom: 15px; margin-left: 15px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(3)
                            .ServerOperation(true)
                            .Read(read => read.Action("GetGridTuristData", "Home").Data("comfortParams"))
                        ))



        </div>

        <div class="col-lg-12">
            <div id="example">
                <div class="k-content wide">
                    <div id="chartComfort" style="margin: auto;"></div>
                </div>
                <script>
                    $(function() {
                        var chartsData =
                            @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartComfortData));

                        function createChart() {
                            $("#chartComfort").kendoChart({
                                title: {
                                    text: "",
                                    color: "#333333",
                                    font: "20px sans-serif, bold"
                                },
                                legend: {
                                    position: "top"
                                },
                                seriesDefaults: {
                                    type: "radarLine"
                                },
                                series: chartsData,
                                categoryAxis: {
                                    categories: [
                                        "Середньостатистичний показник комфорту", "Комфорт харчування",
                                        "Комфорт транспортних послуг",
                                        "Комфорт екскурсійних послуг", "Комфорт проживання"
                                    ]
                                },
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    }
                                },
                                tooltip: {
                                    visible: true,
                                    format: "{0}"
                                }
                            });

                            $("#chartComfort").css("width", "700px").css("height", "500px").data("kendoChart").resize();
                        }

                        $(document).ready(createChart);
                        $(document).bind("kendo:skinChange", createChart);
                    });


                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <hr />
    </div>


    <div class="col-lg-6 block">
        <div class="row">
            <h2 class="title-bellow">Вагові коефіцієнти за характеристикою "Інформативність"</h2>
            @(Html.Kendo().Grid<GridModel>()
                        .Name("Informative")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.CompanyNumber).Title("Номер<br/> туристичного<br/> підприємства");
                            columns.Bound(p => p.ResidenceCoefficient).Title("Коефіцієнт<br/> проживання");
                            columns.Bound(p => p.FoodCoefficient).Title("Коефіцієнт<br/> харчування");
                            columns.Bound(p => p.TransportationCoefficient).Title("Коефіцієнт<br/> транспортних<br/> послуг");
                            columns.Bound(p => p.ExcursionCoefficient).Title("Коефіцієнт<br/> екскурсійних<br/> послуг");
                            columns.Bound(p => p.AverageRateCoefficient).Title("Середньостатистичний<br/> показник рівня якості");
                            columns.Template(e => { }).Title("<span class='row'>Дія</span>").ClientTemplate(
                                "<a  data-placement='top' title='Редагувати' style='margin-right: 5px;' class='btn btn-success btn-xs' href='/home/editcharacteristics?turistType=" + ViewBag.TuristType + "&dataType=#: data.TuristDataType #&companyNumber=#: data.CompanyNumber #'><i class='fa fa-edit color-green'></i></a>")
                                .Width(70);
                            columns.Bound(p => p.TuristDataType).Hidden();
                        })
                        .HtmlAttributes(new { style = "margin-bottom: 15px; margin-right: 15px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(3)
                            .ServerOperation(true)
                            .Read(read => read.Action("GetGridTuristData", "Home").Data("informParams"))
                        ))



        </div>

        <div class="col-lg-12">
            <div id="example">
                <div class="k-content wide">
                    <div id="chartInformative" style="margin: auto;"></div>
                </div>
                <script>
                    $(function() {
                        var chartsData =
                            @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartInformativeData));

                        function createChart() {
                            $("#chartInformative").kendoChart({
                                title: {
                                    text: "",
                                    color: "#333333",
                                    font: "20px sans-serif, bold"
                                },
                                legend: {
                                    position: "top"
                                },
                                seriesDefaults: {
                                    type: "radarLine"
                                },
                                series: chartsData,
                                categoryAxis: {
                                    categories: [
                                        "Середньостатистичний показник інформативності", "Інформативність харчування",
                                        "Інформативність транспортних послуг",
                                        "Інформативність екскурсійних послуг", "Інформативність проживання"
                                    ]
                                },
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    }
                                },
                                tooltip: {
                                    visible: true,
                                    format: "{0}"
                                }
                            });

                            $("#chartInformative").css("width", "700px").css("height", "500px").data("kendoChart").resize();
                        }

                        $(document).ready(createChart);
                        $(document).bind("kendo:skinChange", createChart);
                    });


                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-6 block">
        <div class="row">
            <h2 class="m-l-15 title-bellow">Вагові коефіцієнти за характеристикою "Кваліфікованість персоналу"</h2>
            @(Html.Kendo().Grid<GridModel>()
                          .Name("StaffQualification")
                          .Columns(columns =>
                          {
                              columns.Bound(p => p.CompanyNumber).Title("Номер<br/> туристичного<br/> підприємства");
                              columns.Bound(p => p.ResidenceCoefficient).Title("Коефіцієнт<br/> проживання");
                              columns.Bound(p => p.FoodCoefficient).Title("Коефіцієнт<br/> харчування");
                              columns.Bound(p => p.TransportationCoefficient).Title("Коефіцієнт<br/> транспортних<br/> послуг");
                              columns.Bound(p => p.ExcursionCoefficient).Title("Коефіцієнт<br/> екскурсійних<br/> послуг");
                              columns.Bound(p => p.AverageRateCoefficient).Title("Середньостатистичний<br/> показник рівня якості");
                              columns.Template(e => { }).Title("<span class='row'>Дія</span>").ClientTemplate(
                                  "<a  data-placement='top' title='Редагувати' style='margin-right: 5px;' class='btn btn-success btn-xs' href='/home/editcharacteristics?turistType=" + ViewBag.TuristType + "&dataType=#: data.TuristDataType #&companyNumber=#: data.CompanyNumber #'><i class='fa fa-edit color-green'></i></a>")
                                  .Width(70);
                              columns.Bound(p => p.TuristDataType).Hidden();
                          })
                          .HtmlAttributes(new { style = "margin-bottom: 15px; margin-left: 15px;" })
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(3)
                              .ServerOperation(true)
                              .Read(read => read.Action("GetGridTuristData", "Home").Data("qualificParams"))
                          ))



        </div>

        <div class="col-lg-12">
            <div id="example">
                <div class="k-content wide">
                    <div id="chartStaffQualification" style="margin: auto;"></div>
                </div>
                <script>
                    $(function() {
                        var chartsData =
                            @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartStaffQualificationData));

                        function createChart() {
                            $("#chartStaffQualification").kendoChart({
                                title: {
                                    text: "",
                                    color: "#333333",
                                    font: "20px sans-serif, bold"
                                },
                                legend: {
                                    position: "top"
                                },
                                seriesDefaults: {
                                    type: "radarLine"
                                },
                                series: chartsData,
                                categoryAxis: {
                                    categories: [
                                        "Середньостатистичний показник кваліфікації персоналу", "Послуги в галузі харчування",
                                        "Послуги транспортних перевезень",
                                        "Послуги екскурсійних виїздів", "Послуги в галузі проживання"
                                    ]
                                },
                                valueAxis: {
                                    labels: {
                                        format: "{0}"
                                    }
                                },
                                tooltip: {
                                    visible: true,
                                    format: "{0}"
                                }
                            });

                            $("#chartStaffQualification").css("width", "700px").css("height", "500px").data("kendoChart").resize();
                        }

                        $(document).ready(createChart);
                        $(document).bind("kendo:skinChange", createChart);
                    });


                </script>

                <script>
                    function safetyParams() {
                        return {
                            turistType: @ViewBag.TuristType,
                            dataType: @((int)ETuristDataType.Safety)
                        }
                    }

                    function comfortParams() {
                        return {
                            turistType: @ViewBag.TuristType,
                            dataType: @((int)ETuristDataType.Comfort)
                        }
                    }

                    function informParams() {
                        return {
                            turistType: @ViewBag.TuristType,
                            dataType: @((int)ETuristDataType.Informative)
                        }
                    }

                    function qualificParams() {
                        return {
                            turistType: @ViewBag.TuristType,
                            dataType: @((int)ETuristDataType.StaffQualification)
                        }
                    }

                </script>
            </div>
        </div>
    </div>
</div>